{% extends 'base/base.html' %}
{% block title %}
    Registros
{% endblock title %}
{% block registros %}
    <section class="page-section" id="contact">
        <div class="text-center">

            <form action="" method="POST">
                {% csrf_token %}

                {{ form.as_p }}

                <input type="submit" value="Enviar">

            </form>

            {% for cliente in clientes %}
                El nombre del cliente es: {{ cliente.nombre }} con la apellido {{ cliente.apellidos }} numero de telefono {{ cliente.telefono }} y correo electronico: {{ cliente.email }}
                <br>
            {% endfor %}
        </div>
    </section>

{% endblock registros %}



